@page "/ForgotPassword"
@layout Layout.UserAccountLayout

<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 450px;">
    <div style="text-align:center; color: #4340d2; font-size:24px; font-weight:600; margin-top:0rem; margin-bottom:1rem;"> Email Verification </div>
    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceEvenly" AlignItems="AlignItems.Center">
        <RadzenFormField Component="emailID" Text="Email" Style="width: 80%; font-size: small;">
            <ChildContent>
                <RadzenTextBox Name="emailID" @bind-Value="emailID" Change="OnEmailChange" />
            </ChildContent>
            <Helper>
                <RadzenDataAnnotationValidator Component="emailID" Style="position: initial;" />
                <RadzenLabel Text="@EmailErrorMessage" Style="color: red" />
            </Helper>
        </RadzenFormField>
        <RadzenButton Text="verify email" ButtonStyle="ButtonStyle.Primary" Style="margin-top: 1rem;" IsBusy="isBusy" Click="OnVerifyEmailClick" />
        <RadzenLink Path="/" Text="Go back to Sign in." Style="color:#4340d2; margin-bottom:-4px;" />
    </RadzenStack>
</RadzenCard>