@page "/ResetPassword/{emailID}"
@layout Layout.UserAccountLayout
@using HotelManagement.WebApp.Client.Models.UserModels

<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 450px;">
    <div style="text-align:center; color: #4340d2; font-size:24px; font-weight:600; margin-top:0rem; margin-bottom:1rem;"> Reset Password </div>
    <RadzenTemplateForm TItem="ResetPasswordWebAppModel" Data="@resetPasswordWebAppModel" Submit="OnLoginClick">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceEvenly" AlignItems="AlignItems.Center">
            <RadzenFormField Component="NewPassword" Text="New Password" Style="width: 80%; font-size: small;">
                <ChildContent>
                    <RadzenPassword Name="NewPassword" @bind-Value="@resetPasswordWebAppModel.NewPassword" />
                </ChildContent>
                <Helper>
                    <RadzenDataAnnotationValidator Component="NewPassword" Style="position: initial;" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Component="ConfirmPassword" Text="Confirm Password" Style="width: 80%; font-size: small;">
                <ChildContent>
                    <RadzenPassword Name="ConfirmPassword" @bind-Value="@resetPasswordWebAppModel.ConfirmPassword" />
                </ChildContent>
                <Helper>
                    <RadzenDataAnnotationValidator Component="ConfirmPassword" Style="position: initial;" />
                </Helper>
            </RadzenFormField>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Start" Style="margin-top: 2rem; width:80%; margin-left:auto; margin-right:auto;">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" ButtonStyle="ButtonStyle.Primary" IsBusy="isBusy" />
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.End" Gap="0">
                <RadzenLink Path="/" Text="Go back to Sign in." Style="color:#4340d2; margin-bottom:-4px;" />
            </RadzenStack>
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenCard>