@page "/"
@using HotelManagement.WebApp.Client.Models.UserModels

<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 450px;">
    <div style="text-align:center; color: #4340d2; font-size:24px; font-weight:600; margin-top:0rem; margin-bottom:1rem;"> Sign in </div>
    <RadzenTemplateForm TItem="UserLoginWebAppModel" Data="@userLoginWebAppModel" Submit="OnLoginClick">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceEvenly" AlignItems="AlignItems.Center">
            <RadzenFormField Component="EmailID" Text="Email" Style="width: 80%; font-size: small;">
                <ChildContent>
                    <RadzenTextBox Name="EmailID" @bind-Value="@userLoginWebAppModel.EmailID" />
                </ChildContent>
                <Helper>
                    <RadzenDataAnnotationValidator Component="EmailID" Style="position: initial;" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Component="Password" Text="Password" Style="width: 80%; font-size: small;">
                <ChildContent>
                    <RadzenPassword Name="Password" @bind-Value="@userLoginWebAppModel.Password" />
                </ChildContent>
                <Helper>
                    <RadzenDataAnnotationValidator Component="Password" Style="position: initial;" />
                </Helper>
            </RadzenFormField>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Start" Style="margin-top: 2rem; width:80%; margin-left:auto; margin-right:auto;">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Log in" ButtonStyle="ButtonStyle.Primary" IsBusy="isBusy" />
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.End" Gap="0">
                <RadzenLink Path="/ForgotPassword" Text="Forgot Password?" Style="color:#4340d2;" />
                <RadzenLink Path="/SignUp" Text="Create a new account." Style="color:#4340d2; margin-bottom:-4px;" />
            </RadzenStack>
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenCard>