<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <HeadOutlet @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: false))" />
    <RadzenTheme Theme="material" @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: false))" />
</head>

<body>
    <Routes @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: false))" />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
